body{
	background-color: pink;
	background-image: url();
}
.header{
	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;
	padding-left: 50px;
	text-align: center;
}
h4{
	color: #629632;
}

img{
	max-width:200px;
	max-height:200px;
	border-radius: 50%;
	margin-left: 50px;
}

#ff-caption{
	color: #629632;
}

#word-play{
	letter-spacing: 3px;
}